body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    padding: 20px;
    font-size: 14px;
}
.nav-left svg{
    width: 50px;
    margin-right: 20px;
}

.nav-left div{
    text-transform: uppercase;
    font-weight: 600;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-left > *{
    padding: 10px;
}